body {
 background-image: url("../bilder/Australia.jpg");
  background-size: cover;
 background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Sørger for at body alltid dekker hele høyden */
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}